/*common shared styles*/
body {
    font-family: "Open Sans";
    margin: 0px;
}

.download-icon{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    padding: 16px 32px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;

}


/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    /* Mary */

    font-weight: 800;
    font-size: 45px;
    color: #181818;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {

    list-style: none;
    margin-right: 50px;
    color: #474747;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/*header related styles*/
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 0px;
}

.banner-content {
    max-width: 500px;
    justify-content: space-between;
}

/* Main section styles */

main {
    max-width: 1140px;
    margin: 0px auto;
}

main section {
    margin-top: 120px;
}


/* About section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    margin-bottom: 3px;
}

.info-description {
    margin-top: 0px;
}

/* What I do section styles */

#what-i-do-description {
    padding: 16px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 6px;


}

.skill-description {
    font-weight: 400;
    color: #757575;
}

/* resume section styles */

.resume-column-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-container {
    display: flex;
    gap: 60px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    margin: 30px 0px;
}

.download-cv {
    text-align: center;
    margin: 50px;
}

/* footer styles */

footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 100px 180px;
    margin-top: 100px;
}

.social-links a{
    margin-right: 24px;
    margin-left: -10px;
    
}

.footer-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer-column p{
    text-align: left;
}

.contact input[type="text"], .contact input[type = "email"],
textarea {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;


    display: block;
    margin-bottom: 24px;
    padding: 16px 30px;

    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
    width: 100%;

}

.hide{
    display: none;
}

@media screen  and (max-width: 576px) {

    /* About section responsive  styles */

    .about-info-container{
        flex-direction: column;
    }

    .about{
        padding: 30px;
    }

    /* What I do seciton responsive styles */
    .skills-container{
        flex-direction: column;
        padding: 8px 16px;
    }
    #what-i-do-description {
        padding: 0 20px 20px 20px;
    }

    /* Resume section responsive design */
    .resume-container {
        flex-direction: column;
        padding: 20px;
    }

    #resume .section-title{
        font-size: 40px;
        padding: 10px 16px;
        margin-top: 0px;
        background: #f5decd;
    }

    /* Footer section responsive styles */
    footer {
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0px;
    }

    .footer-column{
        width: 85%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .footer-column h3{
        text-align: center;
        margin: 0px;
        width: 100%;
        font-size: 24px;
        
    }

    .footer-column p{
        width: 380px;
    }

   .contact{
        margin-top: 20px;
        width: 100%;
        
    }

    .contact input[type="text"], .contact input[type = "email"],
textarea  {
    display: block;
    margin-bottom: 24px;
    padding: 16px ;

    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
    width: 93%;

}

.contact input[type = "submit"]{
    width: 100%;
}
}

@media screen and (min-width: 577px) and (max-width: 1150px)  {
    
    /* What I do seciton responsive styles */
    .skills-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 80px;
        gap: 30px;
    }
    #what-i-do-description {
        padding: 0 80px;
    }

    /* Resume section responsive design */
    .resume-container {
        padding: 100px;
    }

    #resume .section-title{
        padding: 10px 50px;
        margin: 0 auto;
       
    }


}

@media screen and (min-width: 577px) and (max-width: 850px) {

     /* About section  styles */

     .about-info-container{
        display: grid;
        grid-template-columns: repeat(2,  1fr);

    }

    .about{
        padding: 60px;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 1070px) {

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px;
    }

    .footer-column{
        width:100%;
        justify-content: center;
        align-items: center; 
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
    }

    .footer-column p{
        text-align: center;
        margin-top: 0;
        width: 550px;
    }
    .footer-column h3{
        text-align: center;
        margin: 25px;
    }

    .social-links{
        margin-left: 5px;
    }
    
}